doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/title.md
      include ../slides/whoami.md
      include ../slides/agenda.md
      include ../slides/what-is-it.md
      include ../slides/how-is-it-used.md
      include ../slides/how-it-works.md
      include ../slides/present.md
      include ../slides/dependencies.md
      include ../slides/project-issues.md
      include ../slides/code-issues.md
      include ../slides/thanks-and-links.md

      include ../slides/refs.md
    include inc/scripts
    include inc/mermaid
