link(rel="stylesheet", href="css/mermaid.css")
script(src="js/mermaid.min.js")
script.
  function init_mermaid_for_current_slide() {
    const query = '.remark-slide-container.remark-visible .mermaid';
    const diagrams = Array.from(document.querySelectorAll(query));
    for (idx in diagrams) {
      const diagram = diagrams[idx];
      mermaid.init(undefined, diagram);
    }
  }

  slideshow.on('afterShowSlide', init_mermaid_for_current_slide);

  mermaid.initialize({
    startOnLoad: false,
  });

  init_mermaid_for_current_slide();

